@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

body {
  background-color: #012d63;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-family: "Roboto";
}

.container {
  width: 1110px;
  margin: 0 auto;
  outline: 3px solid rgb(255, 0, 0);
}

.header {
  li {
    a {
      color: #c7c7c7;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
}

.menu li:first-child a {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header img {
  padding: 16px 152px 17px 3px;
}

.header li {
  padding: 30px 29px 33px 0px;
}

.no-active-lang {
  margin-right: 5px;

  color: #dcdcdc;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.active-lang {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.flex {
  display: flex;
  align-items: center;
}

.img-logo {
  width: 160px;
  height: 120px;
}

.menu {
  display: flex;
}

.section-1 {
  background-image: url(../img/bg-2.png);
  background-position: center;
  background-repeat: no-repeat;
}

.section-1 p,
.section-1 button {
  font-family: "PT Serif", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.section-1 p {
  width: 508px;
  height: 84px;
  padding-bottom: 41px;
}

.section-1 h1 {
  font-family: "Playfair Display", serif;
  font-size: 144px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-1 h2 {
  font-family: "Playfair Display", serif;
  font-size: 72px;
}

.section-1 button {
  width: 254px;
  height: 67px;
  border-radius: 10px;
  background: #8e32c6;
}

.section-2,
.section-3,
.section-4 {
  background-repeat: no-repeat;
}

.section-2 {
  background-image: url(../img/bg-4.png);
  background-position: center;
}

.section-3 {
  background-image: url(../img/bg-3.png);
  background-position: center;
}

.section-4 {
  background-image: url(../img/bg-1.png);
  background-position: center;
}

.section-2-text,
.section-3 h2,
.section-4 h3 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-2 ul {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.li-container {
  height: 396px;
  padding-top: 105px;
  padding-bottom: 106px;
}

.text-section-2 {
  border: 5px #8e32c6 solid;
}

/* .section-2-img-2::after {
  content: "";
  display: inline-block;
  height: 346px;
  width: 1px;
  background: #ff0000;
  margin-left: 200px;
}

.section-2-img-1::before {
  content: "";
  display: inline-block;
  height: 346px;
  width: 1px;
  background: #fff;
  margin-left: 150px;
} */

.section-2-img-1,
.section-2-img-2,
.section-2-img-3 {
  width: 240px;
  height: 396px;
  background-repeat: no-repeat;
  background-position: center;
}

.section-2-img-2 p {
  display: flex;
  align-items: center;
  padding-top: 275px;
  width: 161px;
  height: 102px;
  position: absolute;
}

.section-2-img-1 {
  background-image: url(../img/img-2.png);
  background-position-y: bottom;
}

.section-2-img-2 {
  background-image: url(../img/img-3.png);
  background-position: top;
}

.section-2-img-3 {
  background-image: url(../img/img-1.png);
  background-position: bottom;
}

.text-card {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  padding: 49px 14px 8px 13px;
}

.date,
.date-year {
  color: #d8d8d8;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.date {
  padding-bottom: 47px;

  padding-left: 13px;
}

.date-year {
  padding-bottom: 29px;
  padding-left: 49px;
}

.name {
  padding-left: 49px;
}

.section-3 {
  background-image: url(../img/img-4.png);
  background-repeat: no-repeat;
  background-position: bottom left;

  padding-top: 24px;
  padding-bottom: 115px;
}

.photo {
  padding-left: 13px;
  padding-bottom: 29px;
}

.card {
  display: flex;
  justify-content: space-between;
}

.card li {
  width: 255px;

  border-radius: 15px;
}

.card li:nth-child(1) {
  background: tomato;
  box-shadow: 0px 14px 0px -5px #7b54b2, 0px 30px 0px -13px #533978;
}

.card li:nth-child(2) {
  background: tomato;
  box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
}

.card li:nth-child(3) {
  background: tomato;
  box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
}

.section-4 {
  background-image: url(../img/bg-1.png);
  background-position: center;
}

.section-4 input {
  display: block;
  width: 580px;
  height: 50px;
  border-radius: 50px;
  background: #fff;
  margin: 0 auto 19px;
  color: #959595;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-4 input:nth-child(1) {
  font-size: 28px;
  width: 690px;
  height: 60px;
}

.center-block {
  display: block;
  width: 248px;
  height: 68px;
  border-radius: 16px;
  background: #8e32c6;
  color: #fff;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-4 h3 {
  padding: 20px 0px 33px 0px;
}

.section-3 h2 {
  padding: 24px 0px 24px 0px;
}

.cir {
  color: #fff;

  font-family: "PT Serif";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-1 {
  padding-bottom: 183px;
}

button:hover {
  cursor: pointer;
}
